# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\JavaProject\Module4_Spring\Week 4\-M4-upload_nhac_env_file\test-backend-casestudy-module4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
